<div class="row">
  <div class="col s12">
    <div class="card">
      <div class="card-content white-text">
        <div class="row">
          <div class="col s4">
            <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
              <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="employeeService.selectedEmployee._id">
              <div class="row">
                <div class="input-field col s12">
                  <p class="fields">Name :
                    <label class="red-text">*</label>
                  </p>
                  <input type="text" name="name" #name="ngModel" [(ngModel)]="employeeService.selectedEmployee.name"
                    placeholder="Enter full name" required>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <p class="fields">Position :</p>
                  <input type="text" name="position" #name="ngModel"
                    [(ngModel)]="employeeService.selectedEmployee.position" placeholder="Eg : Snr. Developer">
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <p class="fields">Select the roles to be assigned :</p>
                </div>
                  <div *ngFor="let role of roles">
                    <label>
                      <input type="checkbox" (change)="onRoleChange(role)" [checked]="employeeService.selectedEmployee.roles.includes(role)">
                      <span class="roles">{{ role }}</span>
                    </label>
                    </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <p class="fields">Do you want to activate the employee? :</p>
                  <div class="switch">
                    <label>
                      No
                      <input type="checkbox" name="activate" #name="ngModel"
                        [(ngModel)]="employeeService.selectedEmployee.activate">
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <button class="btn btn-custom right" type="button" (click)="resetForm(employeeForm)">Reset</button>
                  <button class="btn btn-custom right" type="submit" [disabled]="!employeeForm.valid">Submit</button>
                </div>
              </div>
            </form>
          </div>
          <div class="col s1"></div>
          <div class="col s7">
            <table class="responsive-table highlight">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Position</th>
                  <th>Roles</th>
                  <th>Activate</th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let emp of employeeService.employees">
                <td [ngClass]="{'blur': emp.activate == false}">{{emp.name}}</td>
                <td [ngClass]="{'blur': emp.activate == false}">{{emp.position}}</td>
                <td [ngClass]="{'blur': emp.activate == false}">{{emp.roles}}</td>
                <td>
                  <div class="switch">
                    <label>
                      No
                      <input type="checkbox" name="activate" (change)="onToggle(emp)" [checked]='emp.activate'>
                      <span class="lever"></span>
                      Yes
                    </label>
                  </div>
                </td>
                <td>
                  <button class="action-btn" (click)="onEdit(emp)" [disabled]="!emp.activate">
                    <i class="material-icons">edit</i>
                  </button>
                  <button class="action-btn" (click)="onDelete(employeeForm, emp._id)" [disabled]="!emp.activate">
                    <i class="material-icons">delete</i>
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>